In [11]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv('swedish_insurance.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       63 non-null     int64
 1   Y       63 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [13]:
print(data.columns)
data.head(10)

Index(['X', 'Y'], dtype='object')

     X      Y
0  108  392.5
1   19   46.2
2   13   15.7
3  124  422.2
4   40  119.4
5   57  170.9
6   23   56.9
7   14   77.5
8   45  214.0
9   10   65.3

In [14]:
x = data.iloc[:,0].values.reshape(-1,1)

In [15]:
y = data.iloc[:,-1].values.reshape(-1,1)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=22)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lm = LinearRegression()

In [20]:
lm.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred = lm.predict(x_test)

In [22]:
check = pd.DataFrame(x_test, columns=["x"])

In [23]:
check["Actual"] = y_test

In [24]:
check["Predicted"] = y_pred

In [25]:
check

     x  Actual   Predicted
0    0     0.0   20.905677
1   12    58.1   60.635488
2   11    21.3   57.324670
3   11    23.5   57.324670
4   23    56.9   97.054481
5   13    31.9   63.946305
6   41   181.3  156.649196
7   53   244.6  196.379007
8   14    95.5   67.257123
9   24   134.9  100.365298
10  31   209.8  123.541021
11   9    52.1   50.703035
12   7    77.5   44.081400

In [26]:
lm.score(x_test,y_test)

0.739394923001989